.App {
  font-family: sans-serif;
  /* text-align: center; */
}

ul {
  margin: 10px auto;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* form,
.todo {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-bottom: 2px;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
} */

/* form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}  */

/* .todo {
  display: flex;
  flex-direction: column;
} */